{%- assign page_url = page.url | absolute_url -%}
{%- assign about = site.schema_about -%}
{%- if page.about_extra -%}{%- assign about = about | concat: page.about_extra -%}{%- endif -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "{{ '/' | absolute_url }}#website",
      "url": "{{ '/' | absolute_url }}",
      "name": {{ site.title | jsonify }},
      "description": {{ site.description | jsonify }},
      "inLanguage": "en-US"
    },
    {
      "@type": "WebPage",
      "@id": "{{ page_url }}#webpage",
      "url": "{{ page_url }}",
      "name": {{ page.schema_name | default: page.title | jsonify }},
      "description": {{ page.schema_description | default: page.description | jsonify }},
      "isPartOf": { "@id": "{{ '/' | absolute_url }}#website" },
      "inLanguage": "en-US",
      "dateModified": {{ page.date_modified | jsonify }},
      "keywords": {{ page.keywords | jsonify }},
      "about": {{ about | jsonify }},
      "audience": [
        {%- for a in page.audiences %}
        { "@type": "Audience", "audienceType": {{ a | jsonify }} }{% unless forloop.last %},{% endunless %}
        {%- endfor %}
      ]
    }
    {%- if page.video %},
    {
      "@type": "VideoObject",
      "@id": "{{ page_url }}#video",
      "name": {{ page.video.name | jsonify }},
      "description": {{ page.video.description | jsonify }},
      "thumbnailUrl": "{{ page.video.poster | absolute_url }}",
      "contentUrl": "{{ page.video.file | absolute_url }}",
      "uploadDate": {{ page.video.upload_date | jsonify }},
      "duration": {{ page.video.duration | jsonify }},
      "width": {{ page.video.width }},
      "height": {{ page.video.height }},
      "inLanguage": "en-US",
      "isPartOf": { "@id": "{{ page_url }}#webpage" }
    }
    {%- endif %}
  ]
}
</script>
